body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f9fc; /* Color de fondo neutro y profesional */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.login-form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 350px;
    transition: transform 0.3s ease-in-out;
}

.login-form:hover {
    transform: scale(1.03);
}

.login-form h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
    font-weight: 500;
}

.login-form input {
    width: calc(100% - 5px); /* Ajustamos el ancho considerando el padding */
    padding: 12px 15px;
    margin: 15px 0;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    transition: border 0.3s ease-in-out;
    box-sizing: border-box; /* Asegura que el padding y el borde estén incluidos en el ancho total */
}

.login-form input:focus {
    border: 1px solid #555; /* Color de borde neutro al hacer focus */
    outline: none;
}

.login-form button {
    width: 100%;
    padding: 12px 15px;
    background-color: #007bff; /* Color de fondo neutro para el botón */
    border: none;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.login-form button:hover {
    background-color: #0056b3; /* Color de fondo más oscuro al hacer hover */
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

.login-form button:active {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transform: scale(0.98);
}

.error-message, .error-message-2, .error-message-notUser {
    color: red;
}

#forgot-password-link {
    display: block;
    margin: 15px auto;
    text-align: center;
    color: #007bff; /* El mismo color azul del botón */
    text-decoration: none; /* Quitamos el subrayado */
    transition: color 0.3s ease-in-out;
}

#forgot-password-link:hover {
    color: #0056b3; /* Un tono de azul un poco más oscuro al pasar el ratón */
    text-decoration: underline; /* Subrayamos al pasar el ratón */
}


.change-password-form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 350px;
    transition: transform 0.3s ease-in-out;
    display: none; /* Se inicializa oculto */
}

.change-password-form:hover {
    transform: scale(1.03);
}

.change-password-form h2, .change-password-form h4 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
    font-weight: 500;
}

.alert-message {
    color: #f00; /* Rojo para llamar la atención */
    display: none; /* Se inicializa oculto */
}

/* Estilos para los mensajes de alerta */
.change-password-form .alert-message, .change-password-form .error-message-2 {
    color: red;
}

/* Estilos para los campos de entrada */
.change-password-form input {
    width: calc(100% - 5px);
    padding: 12px 15px;
    margin: 15px 0;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    transition: border 0.3s ease-in-out;
    box-sizing: border-box;
}

.change-password-form input:focus {
    border: 1px solid #555;
    outline: none;
}

/* Estilos para el botón */
.change-password-form button {
    width: 100%;
    padding: 12px 15px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.change-password-form button:hover {
    background-color: #0056b3;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

.change-password-form button:active {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transform: scale(0.98);
}

.imagen-derecha {
    position: absolute;
    top: 5%;
    right: 5%;
}





#snackbar {
    visibility: hidden; /* Hidden by default */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (or with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar. */
    /* Fade in */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
